<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.11/tailwind.min.css"/>
    <link href="static\css\style.css" rel="stylesheet">
    <title>Login | Student Evaluator</title>
</head>

<body>
    
    <!-- Login Header Started -->

    <header class="text-gray-400 bg-gray-300 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl text-gray-700">Student Evaluator</span>
            </a>
        </div>
    </header>
    
<!-- Login Started -->

<section class="text-gray-400 bg-gray-300 body-font">
    <div class="container px-20 py-24 mx-auto ">
      <div class="flex flex-col text-center w-full mb-20">
  
      <div class="w-full pt-16 px-96">
    <form class="bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4" action="index" method="GET">
      <div class="mb-4">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
      </div>
      <div class="mb-6">
        <label class="block text-gray-200 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
        <!-- <p class="text-red-500 text-xs italic">Please enter a password.</p> -->
      </div>
      <div class="flex items-center justify-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          <a href="index"> Sign In </a>
        </button>
        
      </div>
    </form>
    
  </div>
  
  
      </div>
    </div>
  </section>
  
  <!-- Login Ended -->

      <!-- Footer Started -->

      <footer class="text-gray-400 bg-gray-300 body-font">
        <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col">

            <p class="text-sm text-gray-700 sm:ml-4 sm:pl-4 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© MKPITS
            </p>
            <!-- <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-700">
                    Nishant Shrivastava
                </a>
                <a class="ml-3 text-gray-700">
                    &
                </a>
                <a class="ml-3 text-gray-700">
                    Rohit Bhatghare
                </a> -->
                
            </span>
        </div>
    </footer>

    <!-- Footer Ended -->



</body>
</html>