{% extends 'base.html' %}

<!-- Title Started -->

{% block title %} Upload File {% endblock title %}

<!-- Title Ended -->

<!-- Body Started -->

{% block body %}

<!-- Upload File Started -->

<section class="text-gray-400 bg-gray-300 body-font relative">
  <div class="container-fluid px-5 py-5 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <!-- Data Table Started -->

      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-auto lg:-mx-auto">
          <div
            class="py-2 align-middle inline-block max-w-full sm:px-6 lg:px-8"
          >
            <div
              class="
                shadow
                overflow-hidden
                border-b border-gray-200
                sm:rounded-3xl
              "
            >
              <table class="max-w-full divide-y divide-gray-400">
                <thead class="bg-gray-400 w-1/2">
                  <tr>
                    <th
                      scope="col"
                      class="
                        px-6
                        py-3
                        text-center text-lg
                        font-medium
                        text-gray-900
                        uppercase
                        tracking-wider
                      "
                    >
                      Emotional Intelligence
                    </th>
                    <th
                      scope="col"
                      class="
                        px-6
                        py-3
                        text-center text-lg
                        font-medium
                        text-gray-900
                        uppercase
                        tracking-wider
                      "
                    >
                      Intellectual Capacity
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-gray-400 divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div
                        class="
                          flex
                          w-80%
                          h-28
                          items-center
                          justify-center
                          bg-gray-200
                          sm:rounded-3xl
                        "
                      >
                        {% if messages %} {% for message in messages %}
                        <div>
                          <strong>{{message|safe}}</strong>
                        </div>
                        {% endfor %} {% else %}
                        <form
                          method="POST"
                          action="uploadei"
                          enctype="multipart/form-data"
                        >
                          {% csrf_token %}
                          <input
                            class="
                              inline-flex
                              text-center
                              mx-4
                              bg-gray-200
                              border-0
                              py-1
                              px-5
                              focus:outline-none
                              hover:bg-gray-300
                              text-gray-900
                              rounded-full
                              text-base
                              mt-2
                            "
                            type="file"
                            id="iefile"
                            name="iefile"
                          /><br />
                          <button
                            class="
                              inline-flex
                              items-center
                              bg-gray-600
                              border-0
                              py-1
                              px-3
                              focus:outline-none
                              hover:bg-gray-700
                              text-gray-100
                              rounded-full
                              ml-2
                              text-base
                              mt-2
                            "
                            type="submit"
                          >
                            Upload
                          </button>
                        </form>
                        {% endif %}
                      </div>
                      <br />
                      <button
                        class="
                          inline-flex
                          items-center
                          bg-gray-500
                          border-0
                          py-1
                          px-3
                          focus:outline-none
                          hover:bg-gray-700
                          text-gray-100
                          rounded-full
                          text-base
                          mt-4
                          md:mt-0
                        "
                      >
                        Download Template
                      </button>
                    </td>

                    <td class="px-6 py-4 whitespace-nowrap">
                      <div
                        class="
                          flex
                          w-80%
                          h-28
                          items-center
                          justify-center
                          bg-gray-200
                          sm:rounded-3xl
                        "
                      >
                        {% if messages %} {% for message in messages %}
                        <div>
                          <strong>{{message|safe}}</strong>
                        </div>
                        {% endfor %} {% else %}
                        <form
                          method="POST"
                          action="uploadic"
                          enctype="multipart/form-data"
                        >
                          {% csrf_token %}
                          <input
                            class="
                              inline-flex
                              text-center
                              mx-4
                              bg-gray-200
                              border-0
                              py-1
                              px-5
                              focus:outline-none
                              hover:bg-gray-300
                              text-gray-900
                              rounded-full
                              text-base
                              mt-2
                            "
                            type="file"
                            id="icfile"
                            name="icfile"
                          /><br />
                          <button
                            class="
                              inline-flex
                              items-center
                              bg-gray-600
                              border-0
                              py-1
                              px-3
                              focus:outline-none
                              hover:bg-gray-700
                              text-gray-100
                              rounded-full
                              ml-2
                              text-base
                              mt-2
                            "
                            type="submit"
                          >
                            Upload
                          </button>
                        </form>
                        {% endif %}
                      </div>
                      <br />
                      <button
                        class="
                          inline-flex
                          items-center
                          bg-gray-500
                          border-0
                          py-1
                          px-3
                          focus:outline-none
                          hover:bg-gray-700
                          text-gray-100
                          rounded-full
                          text-base
                          mt-4
                          md:mt-0
                        "
                      >
                        Download Template
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Data Table Ended -->

      <!-- Data Table Started -->

      <div class="flex flex-col mt-4">
        <div class="-my-2 overflow-x-auto sm:-mx-auto lg:-mx-auto">
          <div
            class="py-2 align-middle inline-block max-w-full sm:px-6 lg:px-8"
          >
            <div
              class="
                shadow
                overflow-hidden
                border-b border-gray-200
                sm:rounded-3xl
              "
            >
              <table class="max-w-full divide-y divide-gray-400">
                <thead class="bg-gray-400 w-1/2">
                  <tr>
                    <th
                      scope="col"
                      class="
                        px-6
                        py-3
                        text-center text-lg
                        font-medium
                        text-gray-900
                        uppercase
                        tracking-wider
                      "
                    >
                      Personality Test
                    </th>
                    <th
                      scope="col"
                      class="
                        px-6
                        py-3
                        text-center text-lg
                        font-medium
                        text-gray-900
                        uppercase
                        tracking-wider
                      "
                    >
                      Meta-Cognitive Test
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-gray-400 divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div
                        class="
                          flex
                          w-80%
                          h-28
                          items-center
                          justify-center
                          bg-gray-200
                          sm:rounded-3xl
                        "
                      >
                        {% if messages %} {% for message in messages %}
                        <div>
                          <strong>{{message|safe}}</strong>
                        </div>
                        {% endfor %} {% else %}
                        <form
                          method="POST"
                          action="uploadpt"
                          enctype="multipart/form-data"
                        >
                          {% csrf_token %}
                          <input
                            class="
                              inline-flex
                              text-center
                              mx-4
                              bg-gray-200
                              border-0
                              py-1
                              px-5
                              focus:outline-none
                              hover:bg-gray-300
                              text-gray-900
                              rounded-full
                              text-base
                              mt-2
                            "
                            type="file"
                            id="ptfile"
                            name="ptfile"
                          /><br />
                          <button
                            class="
                              inline-flex
                              items-center
                              bg-gray-600
                              border-0
                              py-1
                              px-3
                              focus:outline-none
                              hover:bg-gray-700
                              text-gray-100
                              rounded-full
                              ml-2
                              text-base
                              mt-2
                            "
                            type="submit"
                          >
                            Upload
                          </button>
                        </form>
                        {% endif %}
                      </div>
                      <br />
                      <button
                        class="
                          inline-flex
                          items-center
                          bg-gray-500
                          border-0
                          py-1
                          px-3
                          focus:outline-none
                          hover:bg-gray-700
                          text-gray-100
                          rounded-full
                          text-base
                          mt-2
                          md:mt-0
                        "
                      >
                        Download Template
                      </button>
                    </td>

                    <td class="px-6 py-4 whitespace-nowrap">
                      <div
                        class="
                          flex
                          w-80%
                          h-28
                          items-center
                          justify-center
                          bg-gray-200
                          sm:rounded-3xl
                        "
                      >
                        {% if messages %} {% for message in messages %}
                        <div>
                          <strong>{{message|safe}}</strong>
                        </div>
                        {% endfor %} {% else %}
                        <form
                          method="POST"
                          action="uploadmct"
                          enctype="multipart/form-data"
                        >
                          {% csrf_token %}
                          <input
                            class="
                              inline-flex
                              text-center
                              mx-4
                              bg-gray-200
                              border-0
                              py-1
                              px-5
                              focus:outline-none
                              hover:bg-gray-300
                              text-gray-900
                              rounded-full
                              text-base
                              mt-2
                            "
                            type="file"
                            id="mctfile"
                            name="mctfile"
                          /><br />
                          <button
                            class="
                              inline-flex
                              items-center
                              bg-gray-600
                              border-0
                              py-1
                              px-3
                              focus:outline-none
                              hover:bg-gray-700
                              text-gray-100
                              rounded-full
                              ml-2
                              text-base
                              mt-2
                            "
                            type="submit"
                          >
                            Upload
                          </button>
                        </form>
                        {% endif %}
                      </div>
                      <br />
                      <button
                        class="
                          inline-flex
                          items-center
                          bg-gray-500
                          border-0
                          py-1
                          px-3
                          focus:outline-none
                          hover:bg-gray-700
                          text-gray-100
                          rounded-full
                          text-base
                          mt-4
                          md:mt-0
                        "
                      >
                        Download Template
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Upload File Ended -->

{% endblock body %}

<!-- Body Ended -->
